<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body  class="bg-success p-2 text-dark bg-opacity-25">
<h1 class="text-primary text-center"  >Bienvenido al Analizador Web</h1>
</body>
</html>
<div>
  <h3 class="text-bg-secondary text-center"> Definicion Data Base </h3>
  <app-editor-txt></app-editor-txt>
  <br>
  <br>
  <h3 class="text-bg-secondary text-center"> Consultas Mini-Sql</h3>
  <app-editor-consult></app-editor-consult>
</div>



